headStyle()
  &:hover
    .header-anchor
      margin-right: 0.1rem

.melody-content
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    headStyle()
    transition: all 0.2s ease-out

    .header-anchor
      color: $light-red
      transition: all 0.2s ease-out

    &:hover
      .header-anchor
        color: $light-blue

  &:not(.custom)
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6
      margin-top: -3.1rem
      margin-bottom: 0
      padding-top: 3.1rem